.button_principal {
    -fx-background-color:   #DB1818; /* color normal */
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-text-fill: white;
}

.button_principal:hover {
    -fx-background-color: #F21D1D; /* color m치s claro al pasar el mouse */
}

.boton_menu {
    -fx-background-color:   #DB1818; /* color normal */
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-text-fill: white;
}

.boton_menu:hover {
    -fx-background-color: #F21D1D; /* color m치s claro al pasar el mouse */
}

.caja_menu {
    -fx-background-color:   #DB1818; /* color normal */
}

/* Fondo completo detr치s de las pesta침as */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #ff0000;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* Altura de la barra superior */
.tab-pane .tab-header-area {
    -fx-padding: 0;
}

/* Cada tab (color + altura) */
.tab-pane .tab-header-area .tab {
    -fx-background-color: #ff0000;
    -fx-background-insets: 0;
    -fx-padding: 2 15;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
}

/* Tab seleccionado */
.tab-pane .tab-header-area .tab:selected {
    -fx-background-color: #cc0000;
}

/* Texto */
.tab-pane .tab-header-area .tab-label {
    -fx-text-fill: white;
}

/* Fondo del contenido del tab */
.tab-pane .tab-content-area {
    -fx-background-color: white;
}

/* Quitar borde de enfoque del TabPane */
.tab-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Quitar borde de enfoque de cada Tab */
.tab:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
} 


.btn_cliente {
    -fx-background-color: white;
}

.btn_cliente:hover {
    -fx-background-color: #DDDAD9;
}