/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 dic 2025, 19:08:31
    Author     : Usuario
*/

/* para el pane */
.form-pane {
    -fx-background-color: #f9fafb;
    -fx-padding: 20;
}

/* para el grid pane*/
.form-section {
    -fx-background-color: white;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 20;
}

/* labels */
.form-label {
    -fx-font-size: 13px;
    -fx-text-fill: #555;
}

/* textfields*/
.text-field {
    -fx-pref-height: 32;
    -fx-background-radius: 4;
}

/* Campos por tamaño*/
.field-small {
    -fx-max-width: 120;
    /*-fx-background-color: red; /*si queremos cambiarles o darle un toque navideño para unos puntos extra*/

}

.field-medium {
    -fx-max-width: 220;
}

.field-large {
    -fx-max-width: 350;
}

/* combobox */
.combo-box {
    -fx-pref-height: 32;
}

/* botones*/
.form-button {
    -fx-background-color: #d32f2f;
    -fx-text-fill: white;
    -fx-background-radius: 4;
    -fx-padding: 6 16;
}

.form-button:hover {
    -fx-background-color: #b71c1c;
}

.form-button-secondary {
    -fx-background-color: #9e9e9e;
}
