/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 dic 2025, 19:08:31
    Author     : Usuario
*/

/* ===== CONTENEDOR GENERAL ===== */
.form-pane {
    -fx-background-color: #f9fafb;
    -fx-padding: 20;
}

/* ===== SECCIONES ===== */
.form-section {
    -fx-background-color: white;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 20;
}

/* ===== TÍTULOS ===== */
.form-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/* ===== LABELS ===== */
.form-label {
    -fx-font-size: 13px;
    -fx-text-fill: #555;
}

/* ===== TEXTFIELDS GENERAL ===== */
.text-field {
    -fx-pref-height: 32;
    -fx-background-radius: 4;
}

/* ===== CAMPOS POR TAMAÑO ===== */
.field-small {
    -fx-max-width: 120;
    -fx-background-color: red;

}

.field-medium {
    -fx-max-width: 220;
}

.field-large {
    -fx-max-width: 350;
}

/* ===== COMBO ===== */
.combo-box {
    -fx-pref-height: 32;
}

/* ===== BOTONES ===== */
.form-button {
    -fx-background-color: #d32f2f;
    -fx-text-fill: white;
    -fx-background-radius: 4;
    -fx-padding: 6 16;
}

.form-button:hover {
    -fx-background-color: #b71c1c;
}

.form-button-secondary {
    -fx-background-color: #9e9e9e;
}
